{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
<h1>Contact</h1>
  {% if msg %}
    <b style="color: blue;">{{msg}}</b>
  {% endif %}
<form name="'contact" method ="post" action="{% url 'contact' %}">
{% csrf_token %}
<table>
    <tr>
        <td>Name</td>
        <td><input type="text" name="name"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text" name="email"></td>
    </tr>
    <tr>
        <td>Mobile</td>
        <td><input type="text" name="mobile"></td>
    </tr>
    <tr>
        <td>Remarks</td>
        <td><textarea cols="22" rows="5" name="remarks"></textarea></td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <input type="submit" value="SUBMIT" class="btn btn-primary">

        </td>
    </tr>
</table>    


</form>
<hr>
<h1>Recent Contact</h1>
<hr>
{% for i in contacts %}
    Name : {{i.name}} <br>
    Remarks : {{i.remarks}} <br><br><br>
{%endfor%}
</body>
</html>
{% endblock %}