{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
<h1>User Login</h1>
  {% if msg %}
    <b style="color: blue;">{{msg}}</b>
  {% endif %}
<form name="'signup" method ="post" action="{% url 'login' %}" enctype="multipart/form-data">
{% csrf_token %}
<table>
    <tr>
        <td>Email</td>
        <td><input type="text" name="email"></td>
    </tr>
    
    <tr>
        <td>
            Password
        </td>
        <td><input type="password" name="password"></td>
    </tr>
    
    <tr>
        <td>
            <input type="submit" value="Login" class="btn btn-primary">

        </td>
        <td>
            <a href="{% url 'forgot-password' %}">Forgot Password</a>
        </td>
    </tr>
</table>    


</form>

</body>
</html>
{% endblock %}