{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
<h1>User Profile</h1>
  {% if msg %}
    <b style="color: blue;">{{msg}}</b>
  {% endif %}
<form name="'profile" method ="post" action="{% url 'profile' %}" enctype="multipart/form-data">
{% csrf_token %}
<table>
    <tr>
        <td>First Name</td>
        <td><input type="text" name="fname" value = "{{user.fname}}"></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td><input type="text" name="lname" value = "{{user.lname}}"></td>
    </tr>
    
    <tr>
        <td>Email</td>
        <td><input type="text" name="email" value = "{{user.email}}" readonly></td>
    </tr>
    <tr>
        <td>Mobile</td>
        <td><input type="text" name="mobile" value = "{{user.mobile}}"></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><textarea cols="22" rows="5" name="address">{{user.address}}</textarea></td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <img src ="{{user.profile_picture.url}}" style="width: 100px; height: 100px; border-radius: 50%;">

        </td>
    </tr>
    <tr>
        <td>Profile Picture</td>
        <td><input type="file" name="profile_picture"></td>
    </tr>
    
    <tr>
        <td colspan="2" align="center">
            <input type="submit" value="Update Profile" class="btn btn-primary">

        </td>
    </tr>
</table>    


</form>

</body>
</html>
{% endblock %}